.main-container {
   
    padding: 1em;
 
}



.view-main {
    height: 1000px;
    padding: 1em;
    background-color:#8080ff;
}

.main-header {
    max-height: 100px;
    cursor: pointer;
    font-size:18px;
    color:#ff0000;
    text-align: center;
  
  
   
}

.main-footer {
    text-align: center;
    margin: 0.5em;
    padding:0.2em;
    cursor: pointer;
    max-width: 800px;
}

.list-players {
  height:800px;
  padding:0.2em;
  border: 1px solid #ff9933;
}

.list-players-card {
    width: 259px;
    height: 400px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0.5em;
    padding:0.2em;
    overflow:hidden;
    text-align: center;
    cursor: pointer;
}



.list-players-card-title {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.button{
    cursor:pointer;
}

.logo{
    
    width: 35px;
    float:left;
    margin-left: 10px;
}
.logos2{
    width: 35px;
    
}


