.main-container {
   padding: 1em;
   
 }

.main-header {
    height: 70px;
    cursor: pointer;
    background: rgb(91.7%, 68.7%, 72%);
 }

.header-title{
    font-size:36px;
    color:#ffffff;
    font-family: stencil;
    text-align: center;
    padding: 12px;
 }

 .main-footer {
    max-height: 100px;
    text-align: center;
    background:linear-gradient( rgb(35.1%, 33.7%, 33.7%),white);
}

.footer-name{
    font-size:20px;
    color:;
    font-family: stencil;
    text-align: center;
    padding: 5px;
   
}

.footer-history{
    cursor: pointer;
    font-size:15x;
    color:rgb(93.7%, 6.9%, 15.6%);
    font-family: stencil;
    text-align: center;
    margin-bottom:  15px;
   
}
.logo-footer{
    float: right;
    width: 50px;
    margin-right: 10px;
}

.logo-headerL{
    width: 50px;
    float:left;
    margin-left: 10px;
}
.logo-headerR{
    width: 50px;
    float:right;
    margin-right: 10px;
}

.view-main {
    height:800px;
    padding: 1em;
    border: 1pk solid rgb(86.6%, 6.7%, 6.7%);
}

.list-players {
  height:700px;
  padding:0.2em;
  border: 1px solid #ff0000;
}

.list-players-card {
    width: 207px;
    height: 320px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0.5em;
    padding:0.2em;
    overflow:hidden;
    text-align: center;
    cursor: pointer;
}



.list-players-card-title {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.button{
    cursor:pointer;
}


.logos2{
    width: 35px;
    
}


