<section>
        <br>
        <br>
        <p>Un club ganador. Eso es el Atlético de Madrid. Los aficionados rojiblancos por todo el mundo están acostumbrados a celebrar títulos.
 
<ul>PALMARÉS</ul>

<li>2016: Copa de la Reina</li>
<li>2014: Supercopa de España</li>
<li>2013/14: Campeonato Nacional de Liga</li>
<li>2012/13: Copa del Rey</li>
<li>2012: Supercopa de Europa</li>
<li>2011/12: Uefa Europa League</li>
<li>2010: Supercopa de Europa</li>
<li>2009/10: Uefa Europa League</li>
<li>1996: Copa del Rey</li>
<li>1995/96: Campeonato Nacional de Liga</li>
<li>1992: Copa del Rey</li>
<li>1991: Copa del Rey</li>
<li>1985: Supercopa de España</li>
<li>1985: Copa del Rey</li>
<li>1976/77: Campeonato Nacional de Liga</li>
<li>1976: Copa del Generalísimo</li>
<li>1975: Copa Intercontinental</li>
<li>1972: Copa del Generalísimo</li>
<li>1969/70: Campeonato Nacional de Liga</li>
<li>1965/ 66: Campeonato Nacional de Liga</li>
<li>1965: Copa del Generalísimo</li>
<li>1962: Recopa de Europa</li>
<li>1961: Copa del Generalísimo</li>
<li>1960: Copa del Generalísimo</li>
<li>1950/51: Campeonato Nacional de Liga</li>
<li>1949/50: Campeonato Nacional de Liga</li>
<li>1940/41: Campeonato Nacional de Liga</li>
<li>1939/40: Campeonato Nacional de Liga</li>
</p>
</section>