<section>
        <p>Un club ganador. Eso es el Atlético de Madrid. Los aficionados rojiblancos por todo el mundo están acostumbrados a celebrar títulos.
 
PALMARÉS

2016: Copa de la Reina
2014: Supercopa de España
2013/14: Campeonato Nacional de Liga
2012/13: Copa del Rey
2012: Supercopa de Europa
2011/12: Uefa Europa League
2010: Supercopa de Europa
2009/10: Uefa Europa League
1996: Copa del Rey
1995/96: Campeonato Nacional de Liga
1992: Copa del Rey
1991: Copa del Rey
1985: Supercopa de España
1985: Copa del Rey
1976/77: Campeonato Nacional de Liga
1976: Copa del Generalísimo
1975: Copa Intercontinental
1972/ 73: Campeonato Nacional de Liga
1972: Copa del Generalísimo
1969/70: Campeonato Nacional de Liga
1965/ 66: Campeonato Nacional de Liga
1965: Copa del Generalísimo
1962: Recopa de Europa
1961: Copa del Generalísimo
1960: Copa del Generalísimo
1950/51: Campeonato Nacional de Liga
1949/50: Campeonato Nacional de Liga
1940/41: Campeonato Nacional de Liga
1939/40: Campeonato Nacional de Liga
</p>
</section>