 <div=row>
   <div col-md-12>
      <section class="view-main">
        Nombre: <input type="text-form" class="nombre"></input>
        Email: <input type="text-form" class="email"></input>
        <br><br>

        <p class="main-option-title">Escoge un avatar</p>

    <div class="logo-group">
     
        <input type="radio" name="emotion" id="1" />
        <label for="1"><img src="app/styles/imgs/logo2.png" alt="1915" /></label>  
     
        
        <input type="radio" name="emotion" id="2" />
        <label for="2"><img src="app/styles/imgs/logo4.png" alt="1956" /></label>  
      
       
        
        <input type="radio" name="emotion" id="3" />
        <label for="3"><img src="app/styles/imgs/logo5.png" alt="1974" /></label>  
    </div>
      
      
        <br><br>  
        <button ng-click="viewMain.goToGame()" class="btn-lg btn-primary">Jugar</button>
      </section>  
  </div>
</div>  
   
